
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
}


body{
margin: 0;
padding: 0;
width: 100%;
scroll-behavior: smooth;
}



.welcome-container{
    background-image: url("./img/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


